#cloud-config
# VyOS cloud-init configuration template for Terraform
# Variables: hostname, ssh_keys, dns_servers

write_files:
  - path: /config/scripts/vyos-init.sh
    permissions: '0755'
    content: |
      #!/bin/vbash
      source /opt/vyatta/etc/functions/script-template
      
      configure
      
      # System configuration
      set system host-name ${hostname}
      set system time-zone UTC
      
      # DNS configuration
      %{ for dns in dns_servers ~}
      set system name-server ${dns}
      %{ endfor ~}
      
      # NTP configuration
      set system ntp server time1.vyos.net
      set system ntp server time2.vyos.net
      
      # SSH configuration
      set service ssh port 22
      
      # Network interface configuration
      set interfaces ethernet eth0 description 'WAN'
      set interfaces ethernet eth0 address dhcp
      
      # Private network interface (if exists)
      set interfaces ethernet eth1 description 'LAN'
      set interfaces ethernet eth1 address dhcp
      
      # Enable SSH key authentication for vyos user
      %{ for key in ssh_keys ~}
      # SSH key ${key} will be added via cloud-init users section
      %{ endfor ~}
      
      # Syslog
      set system syslog global facility all level info
      
      commit
      save
      exit

  - path: /config/scripts/vyos-custom.sh
    permissions: '0755'
    content: |
      #!/bin/vbash
      # Add your custom VyOS configuration here
      source /opt/vyatta/etc/functions/script-template
      
      configure
      
      # Example: Configure firewall
      # set firewall name WAN_LOCAL default-action drop
      # set firewall name WAN_LOCAL rule 10 action accept
      # set firewall name WAN_LOCAL rule 10 state established enable
      # set firewall name WAN_LOCAL rule 10 state related enable
      
      # Example: Configure NAT
      # set nat source rule 100 outbound-interface eth0
      # set nat source rule 100 source address 10.0.0.0/8
      # set nat source rule 100 translation address masquerade
      
      commit
      save
      exit

runcmd:
  # Wait for system to be ready
  - sleep 15
  # Run VyOS initialization script
  - /config/scripts/vyos-init.sh
  # Run custom configuration script
  - /config/scripts/vyos-custom.sh

# Configure users and SSH keys
users:
  - name: vyos
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/vbash
    %{ if length(ssh_keys) > 0 ~}
    ssh_authorized_keys:
      %{ for key in ssh_keys ~}
      - ${key}
      %{ endfor ~}
    %{ endif ~}

# Disable password authentication after setup
ssh_pwauth: false

# Final message
final_message: "VyOS cloud-init configuration completed after $UPTIME seconds"
